<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Tambah Kelas</title>
</head>
<body>
<form th:object="${kelas}" th:action="@{/kelas/save}" th:method="post" method="post">
    <div>
        <label for="nama">Nama Kelas</label>
        <input type="text" name="nama" id="nama" th:field="*{nama}"/>
    </div>

    <div>
        <label for="nama">Tahun Angkatan</label>
        <input type="number" name="angkatan" id="angkatan" th:field="*{angkatan}"/>
    </div>
    <div>
        <button type="submit">Kirim</button>
        <button type="reset">Kembali</button>
    </div>
</form>
</body>
</html>
