<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Data Mahasiswa</title>
</head>
<body>
<h3>Daftar mahasiswa</h3>
<table>
    <thead>
    <tr>
        <td>Nim</td>
        <td>Nama</td>
        <td>Kelas</td>
        <td>Angkatan</td>
        <td>Action</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>10511148</td>
        <td>Dimas Maryanto</td>
        <td>IF 2</td>
        <td>2015</td>
        <td></td>
    </tr>
    <tr>
        <td>10511150</td>
        <td>Muhamad Yusuf</td>
        <td>IF 2</td>
        <td>2015</td>
        <td></td>
    </tr>
    </tbody>
</table>
</body>
</html>
