<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Data Mahasiswa</title>
</head>
<body>

<div>
    Informasi Data mahasiswa per tanggal : <p th:text="${tanggal}"></p>

    <div>
        <label for="">Kode Kelas</label>
        <input type="text" readonly th:value="${kelas.id}"/>
    </div>

    <div>
        <label for="">Nama Kelas</label>
        <input type="text" readonly th:value="${kelas.nama}"/>
    </div>

    <div>
        <label for="">Nama Kelas</label>
        <input type="text" readonly th:value="${kelas.angkatan}"/>
    </div>
</div>

<h3>Daftar mahasiswa</h3>
<table>
    <thead>
    <tr>
        <td>Nim</td>
        <td>Nama</td>
        <td>Kelas</td>
        <td>Angkatan</td>
        <td>Action</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="mhs : ${listMahasiswa}">
        <td th:text="${mhs.nim}">105123434</td>
        <td th:text="${mhs.nama}">Dimas Maryanto</td>
        <td th:text="${mhs.kelas.nama}">IF</td>
        <td th:text="${mhs.kelas.angkatan}">2011</td>
        <td></td>
    </tr>
    </tbody>
</table>
</body>
</html>
